APP_PORT=3000
APP_GLOBAL_PREFIX=api

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=dadn
DB_PASSWORD=dadn_password
DB_DATABASE=dadn
DB_SYNC=true

JWT_SECRET=change_me_before_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=refresh_change_me_before_production
JWT_REFRESH_EXPIRES_IN=7d

AI_SERVICE_URL=http://localhost:8001/ai
FACE_MIN_SAMPLES_PER_LABEL=3
FACE_REGISTER_MIN_IMAGES=3
FACE_REGISTER_MAX_IMAGES=7
